/* contacto.css */

/* Contacto */
.contact-section {
    background-color: #3498db;
    color: white;
    padding: 60px 20px;
    text-align: center;
    animation: fadeIn 1s ease-in, scrollAnimation 0.5s ease-out;
}

.contact-section h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
}

.contact-section form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

.contact-section label {
    font-size: 1.2em;
    margin-bottom: 10px;
    display: block;
}

.contact-section input[type="text"],
.contact-section input[type="email"],
.contact-section textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
}

.contact-section button[type="submit"] {
    background-color: #2980b9;
    color: white;
    padding: 15px 30px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-section button[type="submit"]:hover {
    background-color: #1f618d;
}

/* Media Queries para la sección de Contacto */
@media (max-width: 768px) {
    .contact-section form {
        width: 100%;
    }

    .contact-section button[type="submit"] {
        width: 100%; /* Ajusta el botón a un 100% de ancho en dispositivos móviles */
    }
}
