/* proyectos.css */

/* Proyectos */
.projects-section {
    background-color: #e67e22;
    color: white;
    padding: 60px 20px;
    text-align: center;
    animation: fadeIn 1s ease-in, scrollAnimation 0.5s ease-out;
}

.projects-section h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.projects-item {
    background-color: #d35400;
    border-radius: 10px;
    padding: 20px;
    width: calc(33.333% - 40px); /* 3 columnas */
    min-width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    cursor: pointer;
    animation: float 6s ease-in-out infinite;
}

.projects-item:hover {
    transform: scale(1.05);
}

.projects-item h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.projects-item p {
    font-size: 1.2em;
}

/* Media Queries para la sección de Proyectos */
@media (max-width: 768px) {
    .projects-list {
        flex-direction: column;
    }

    .projects-item {
        width: 100%; /* Aumenta el ancho de los items en dispositivos móviles */
        min-width: 100%;
    }
}
