/* principios.css */

/* Principios (Misión, Visión y Valores) */
.principles-section {
    background-color: #2ecc71; /* Fondo de la sección */
    padding: 60px 20px;
    text-align: center;
    animation: fadeIn 1s ease-in, scrollAnimation 0.5s ease-out;
    position: relative;
    overflow: hidden;
}

/* Estilos para el texto en modo día */
body.day .principles-section {
    color: black; /* Texto negro en modo día */
}

body.day .principles-item {
    background-color: #27ae60; /* Fondo verde en modo día */
    color: white; /* Texto blanco en los items en modo día */
}

/* Estilos para el texto en modo noche */
body.night .principles-section {
    color: white; /* Texto blanco en modo noche */
}

body.night .principles-item {
    background-color: #1a4731; /* Fondo verde oscuro en modo noche */
    color: white; /* Texto blanco en los items en modo noche */
}

.principles-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.principles-item {
    border-radius: 10px;
    padding: 20px;
    width: calc(33.333% - 40px); /* 3 columnas */
    min-width: 250px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    animation: float 6s ease-in-out infinite, shadowPulse 2s infinite;
    position: relative;
    z-index: 1;
}

.principles-item:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.4);
}

.principles-item h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.principles-item p {
    font-size: 1.2em;
}

/* Animaciones */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes scrollAnimation {
    0% { transform: translateY(10px); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}

@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}

@keyframes shadowPulse {
    0%, 100% { box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); }
    50% { box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); }
}

/* Media Queries para iPhone 14 Pro Max */
@media only screen and (min-device-width: 430px) and (max-device-width: 430px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
    .principles-list {
        flex-direction: column;
        align-items: center; /* Centrar los elementos horizontalmente */
    }

    .principles-item {
        width: 90%; /* Ajusta al 90% del contenedor en iPhone 14 Pro Max */
        max-width: none; /* Sin límite máximo en móviles */
        margin: 10px 0; /* Espacio vertical entre los módulos */
    }
}
